.header-top{
	border-bottom: 1px solid #fff;
	background-color: #f94949;
	ul{
		margin-bottom: 0;
	}
	li{
		display: inline-block;
		padding: 4px 0 0px 20px;
		a{
			font-size: 20px;
		}
		i{
			color: #fff;
			&:hover{
				color: #575757;
			}
		}
	}
	.form-group{
		position: relative;
		margin-bottom: 0;
		margin-right: 20px;
		top:-3px;
		&:after{
			content: '';
			position: absolute;
			right: -18px;
			top:50%;
			transform: translateY(-50%);
			height: 20px;
			width: 2px;
			background-color: #fff;
		}
		input{
			display: inline-block;
			width: 0;
			visibility: hidden;
			transition: all .6s;
			padding-right: 0;
			padding-left: 0;

		}
		.icon-search{
			position: absolute;
			top:50%;
			right: 10px;
			transform: translateY(-50%);
		}
		&.active-search{
			.icon-search i{
				color: #000;
			}
			input{
				width: 300px;
				visibility: visible;
				transition: left all .6s;
				padding-right: 35px;
				padding-left: 15px;
			}
		}
	}
}
.header-main{
	background-color: #fff;
	padding: 10px 0;
	nav{
		padding: 30px 0;
	}
	ul{
		margin-bottom: 0;
		padding-left: 0;

	}
	li{
		display: inline-block;
		list-style: none;
		padding-left: 35px;
		&:first-child{
			padding-left: 0;
		}
		a{
			position: relative;
			text-decoration: none;
			font-size: 17px;
			i{
				font-size: 30px;
				color: #ed1e24;
			}
			&:before{
				content: '';
				width: 0%;
				position: absolute;
				left: 0;
				background-color: #ed1e24;
				bottom: -5px;
				height: 2px;
				transition: all .3s ;
			}
			&:hover{
				color: #ed1f24;
				&:before{
					content: '';
					width: 100%;
					position: absolute;
					left: 0;
					background-color: #ed1e24;
					bottom: -5px;
					height: 2px;
					transition: all .3s;
				}

			}

		}
		&.active a{
			color: #ed1f24;
		}
		&:last-child{
			a:before{
				display:none!important;
			}
		}
	}
}
#header.pin-header{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	box-shadow: 0 2px 11px 0 rgba(0,0,0,.2);
	.header-top{
		display: none;
	}
	.logo img{
		width: 150px;
		margin-top: 5px;
	}
	.header-main{
		padding: 0;
	}
}
.logo img{
	width: 171px;
}
.menu-mobile{
	max-height: 0;
	visibility: hidden;
	position: absolute;
	z-index: 9999;
	padding-left: 0;
	right: 0;
	padding: 0 20px;
	background-color: #000;
	li{
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: right;
		list-style: none;
	}
	a{
		color: #fff;
		font-size: 17px;
		&:hover,&:active{
			text-decoration: none;
			color:  #ed1e24;
		}

	}
	ul{
		padding-left: 0;
	}
}
.menu-control{
	position: relative;
	top: -10px;
	margin-left: auto;
}
@media only screen and(max-width: 1200px){
	.header-main li {
		padding-left: 32px;
	}
}

@media only screen and (max-width: 991px){
	.header-main li {
		padding-left: 22px;
		a{
			font-size: 13px;
		}
	}
	#header.pin-header .logo img {
		width: 130px;
		margin-top: 12px;
	}
}

@media only screen and (max-width: 767px){
	.header-main{
		.menu-control {
			border: none;
			background-color: #fff;
			&:focus{
				outline: 0;
			}
			.box{
				display: block;
				margin-top: 5px;
				.icon-bar {
					height: 2px;
					width: 35px;
					background: #ed1e24;
					display: block;
					margin-bottom: 6px;
				}
			}
		}
	}
	#header{
		&.active-menu{
			.menu-mobile{
				visibility: visible;
				max-height: 400px;
			}
			.bar1 {
				transform: rotate(-45deg) translate(1px,-5px);
				transition: all .2s;
				transform-origin: bottom right;
			}
			.bar2{
				visibility: hidden;
			}
			.bar3{
				transform: rotate(45deg) translate(1px,6px);
				transform-origin: bottom right;
				transition: all .2s;
			}
		}
		.logo img {
			width: 130px;
		}
	}
	.cart{
		position: relative;
		top:20px;
		right: 64px;
		&:hover,&:active,&:focus{
			text-decoration: none;
		}
		.fa-cart-arrow-down{
			font-size: 30px;
			color:#ed1e24;
		}
	}
	.count-product{
		position: absolute;
    top: -19px;
    right: -12px;
    font-size: 12px;
    height: 15px;
    width: 15px;
    color: #fff;
    text-align: center;
    background: red;
    border-radius: 50%;
	}
}
