.product-detail{
	margin-bottom: 400px;
}
.item-product{
	margin-bottom: 50px;
	.box-item{
		position: relative;
		border: 1px solid #b5b2b2;
		text-align: center;
		padding: 50px 0;
		border-radius: 10px;
		overflow: hidden;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translate3d(0, 0, 0);
		.chart{
			position: absolute;
			left: 0;
			bottom: 0;
			font-size: 30px;
			padding: 5px 0;
			visibility: hidden;
			transition: all .3s;
			a{
				color: #ed1e24;
				&:hover{
					color: #febe44;
				}
			}
		}

		.link-detail{
			visibility: hidden;
			position: absolute;
			top:50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			.btn-cate{
				padding: 10px 20px;
				font-size: 15px;
			}
		}
		&:hover{
			cursor: pointer;
			.hover-product{
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				background: #000;
				z-index: -1;
			}
			.btn-cate:hover{
				background-color: #fff;
				color: #000;
			}
			.chart{
				visibility: visible;
				left: 15px;
				transition: all .3s;
			}
			img{
				opacity: .4;
			}
			.link-detail{
				visibility: visible;
				opacity: 1;
				z-index: 2;
			}

		}
	}
}
.info-product{
	text-align: center;
	overflow: hidden;
	p{
		font-size: 17px;
		color: #ed1e24;
	}
	.star{
		color: #febe44;
		margin-bottom: 10px;
		position: relative;
		.group-star{
			display: inline-block;
			padding-left: 10px;
			padding-right: 10px;
			background-color: #fff;
		}
		&:before{
			content: '';
			height:1px;
			width: 100%;
			z-index: -1;
			max-width: 140px;
			background-color: #b5b2b2;
			position: absolute;
			top:50%;
			left: 50px;
		}
		&:after{
			content: '';
			height:1px;
			width: 100%;
			max-width: 140px;
			z-index: -1;
			background-color: #b5b2b2;
			position: absolute;
			top:50%;
			right: 50px;
		}
	}
}
.sec-product{
	padding-bottom: 70px;
	h2{
		color: #ed1e24;
	}
}
.product-detail{
	margin-top: 70px;
}
.sec-product{
	opacity: 0;
	visibility: hidden;
	position: relative;
	top:150px;
	&.active{
		visibility: visible;
		top: 0;
		opacity: 1;
		transition: all 1s;
		transition-delay: .3s;
	}
}

.show-anh{
	.item{
		display: none;
		overflow: hidden;
		height: 350px;
		&.active{
			display: block;
		}
		img{
			height: 100%;
			width: 100%;
		}
	}
}
.click-anh {
	margin-top: 10px;
	ul {
		padding-left: 0;
		li{
			display: inline-block;
			cursor: pointer;
			padding-right: 5px;
			img{
				width: 100px;
				height: 80px;
			}
		}
	}
}
.thongtin-sp{
	h3{
		font-size: 20px;
		margin-top: 0;
	}
	h4{
		font-size: 17px;
		padding: 10px 0;
	}
	.btn-more{
		min-width: 222px;
		display: inline-block;
		text-align: center;
		padding: 10px 5px;
	}
}
.btn-#ed1e24{
	background-color: #ed1e24;
	color: #fff;
	border: none;
}
.danhmuc-sp{
	h3{
		margin-bottom: 30px;
		position: relative;
		margin-top: 0;
		&:after{
			content: "";
			width: 50%;
			height: 2px;
			background: #000;
			display: inline-block;
			position: absolute;
			bottom: -10px;
			left: 0;
		}
	}
	h4{
		margin-top: 20px;
		position: relative;
		a:hover,a:focus{
			text-decoration: none;
			color: #ed1e24;
		}
		a:after{
			    content: "\f055";
			        font: normal normal normal 14px/1 FontAwesome;
			        position: absolute;
			        right: 0;
			        top: 0;

		}
		a[aria-expanded="true"]{
			color: #ed1e24;
		}
		a[aria-expanded="true"]:after{
			  content: "\f056";
			        font: normal normal normal 14px/1 FontAwesome;
			        position: absolute;
			        right: 0;
			        top: 0;
		}
	}
	p{
		padding-left: 10px;
	}
}
.sec-tab {
	margin-top: 70px;
	.tab-content{
		img{
			margin-top: 10px;
		}
	}
	.group-tab{
		list-style: none;
		margin-bottom: 30px;
		padding-left: 0;
		li{
			font-size: 20px;
			display: inline-block;
			padding-right: 20px;
			a{
				&:hover{
					text-decoration: none;
					color: #ed1e24;
				}
			}
			&.active a{
				color: #ed1e24;
				position: relative;
				&:after{
					content :"";
					width: 100%;
					height: 2px;
					background-color: #ed1e24;
					display: inline-block;
					position: absolute;
					left: 0;
					bottom: -3px;
				}
			}
		}

	}
	.binhluan{
		margin-top: 20px;

	}
	.form-group{
		margin-top: 40px;
	}
}

.right-cart{
	h4{
		margin-top: 0;
		font-size: 20px;
		color: #ed1e24;
		text-align: center;
		margin-bottom: 10px;
	}
	
	.rate{
		color: #ed1e24;
		font-weight: bold;
		font-size: 20px;
	}
	.btn-more{
		margin-top: 20px;
		display: inline-block;
	}
	table{
		width: 100%;
		th,td{
			padding: 5px;
			text-align: center;
		}
	}
}
.sec-cart{
	min-height: 800px;
	margin-top: 50px;
	h3{
		color: #ed1e24;
		margin-bottom: 40px;
	}
}
.box-cart{
	margin-bottom: 20px;
	position: relative;
	border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    &:last-child{
    	border-bottom: none;
    }
	.col-sm-9{
		position: static;
	}
	h4{
		font-size: 17px;
	}
	.group-star{
		i{
			color: #febe44;
		}
	}
	.image{
		max-width: 100px;
	}
	.close{
		position: absolute;
		top: 0;
		right: 20px;
			opacity: 1;
		i{
			color: #ed1e24;
			&:hover{
			color: #000;
		}
		}

	}
}
.checkout{
	margin-bottom: 180px;
	margin-top: 60px;
	h3{
		color: #ed1e24;
		text-align: center;
		margin-bottom: 30px;
	}
	.info-custom{
		.row{
			margin-bottom: 20px;
		}
		.form-control{
			border-radius: 0;
		}
	}
	.btn-more{
		margin-top: 20px;
		display: inline-block;
		margin-right: 55px;
		font-size: 15px;
		background-color: #ed1e24;
		color: #fff;
		border: none;
		&:hover{
			background: #000;
		}
	}
}
@media only screen and (max-width: 991px) and(min-width: 768px){
	.sec-cate .item {
		height: 187px;
	}
	.sec-cate .item-center {
		height: 404px;
	}
	.item-product .box-item .link-detail .btn-cate {
		padding: 10px 11px!important;
		min-width: 120px!important;
	}
	.item-product img{
		max-width: 90px;
	}
}
@media only screen and (max-width: 767px){
	.sec-cate .item-center {
		height: 227px;
		position: relative;
	}
}
@media only screen and (max-width: 400px){

	.sec-product .col-sm-3{
		width: 100%;
	}
	.sec-product h2 {
		font-size: 20px;
	}
}