	.item-slider{
		height: 570px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
.slick-dots li button:before {
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: '•';
    text-align: center;
    opacity: 1;
    color: #fff;
}
.slick-dots{
	bottom :13px;
}

@media only screen and (max-width: 991px){
.item-slider {
    height: 400px;
}
.item-slider-new {
    padding: 20px 0;
}
}
@media only screen and (max-width: 767px){
.item-slider {
    height: 400px;
}
.item-slider-new {
    padding: 20px 0;
}
.slick-slide img {
    width: 100%;
}
.slick-slide h3{
    padding-top: 30px;
}
}
@media only screen and (max-width: 400px){
.item-slider-new h3:after {
    width: 180px;
}
}